h1 {
    text-shadow: 2px 2px 4px #008b00;
}

caption {
    font-weight: 800;
    font-size: 150%;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    border-color: brown;
}
th {
    background-color:orange;
    color: white;
}

th, td, tr {
    padding: 10px;
    border-color: red;
}

tr:nth-child(even) {background-color: rgba(255, 215, 0, 0.3)
}

.centered {
    display: flex;
    justify-content: center;
    text-align: start;
}
.lastrow {
    background-color: orange;
    color: white;
    text-align: center; 
}