#div1 {
    color: white;
    background-color: blue;
    padding: 20px;
}

h1 {
    text-align: center;
}

h1:hover {
    color: yellow;
}

h2 {
    text-align: center;
}

h1,
h2,
p,
th,
td,
caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

span {
    font-style: italic;
    size: 1.2em;
    color: gray
}

#div2 {
    text-align: center;
    font-size: 12px;
}

caption {
    font-weight: bold;
    padding-bottom: 10px;

}

table {
    border-collapse: collapse;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 12px;
}

th {
    background-color: pink;
}