@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,300&family=Montserrat:wght@500&display=swap');
/* REMEMBER TO CHANGE FONT TO DIGNITAS FONT */

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  margin-left: 50px;
}

.container {
  width: 80%;
  margin: 0 auto;   
}

#scroll-indicator {
  width: 100%;
  height: 5px;
  background-color: #121212;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

#scroll-indicator-progress {
  width: 0%;
  height: 100%;
  background-color: yellow;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: black;
  color: #fff;
  padding: 20px;
  padding-right: 60px;
  overflow-y: auto;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 1px solid #777;
  font-size: 19px;
  font-family: "Barlow", sans-serif;
}

.sidebar a:hover {
  background-color: #555;
}

.content {
  text-align: center;
}

main {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: 50px;
  background-color: yellow;
  text-align: center;
}

p,
li,
td,
tr,
h2,
label {
  font-family: 'Barlow', sans-serif;
  color: whitesmoke;
  font-size: 18px;
}

h4,
th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  color: yellow;
}

th {
  color: black;
  background-color: yellow;
  border-color: black';

}

li {
  color: whitesmoke;
}

.stats {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.map {
  float: left;
}

th,
td {
  padding: 15px;
  text-align: center;
}

caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-style: italic;
  margin-bottom: 10px;
  padding: 10px;
}

#xayah,
#aphel,
#healthmana,
#level,
#map2,
#herald,
#heraldcharge,
#csing,
#shop {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#level {
  padding: 10px;
}

table {
  border-collapse: collapse;
  border-color: whitesmoke;
}

#champtable {
  margin-right: auto;
  margin-left: auto;
  float: left;
}

#champtable2 {
  margin-left: auto;
  margin-right: auto;
  margin-left: 190px;
}

#website {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.towers,
.dragons,
.soul,
.baron,
.elder,
.herald {
  border-style: solid;
  border-width: 3px;
  padding: 1em;
  display: inline-block;
  text-align: left;
  margin: 5px;
}

#turretref {
  border-color: whitesmoke;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.towers {
  border-color: whitesmoke;
  margin-left: 110px;
  align-content: center;
}

.dragons {
  border-color: red;
}

.soul {
  border-color: orange;
}

.baron {
  border-color: purple;
}

.elder {
  border-color: yellow;
}

#elderbuff {
  margin-bottom: 100px;
  padding-left: 50px;
}

#inhib {
  margin-bottom: 70px;
  margin-left: 5px
}

#baronbuff {
  width: 600px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.herald {
  border-color: green;
}

#heralddrop {
  margin-right: 10px;
  float: right;
  padding: 10px;
}

#csing {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#plating {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 2px 0; 
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 10px 20px; 
  transition: background-color 0.3s ease; 
}

.tab:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px; 
  background-color: #fff; 
}

.tab-content {
  display: none;
  padding: 10px;
}

input[name^="tab-group"] {
  display: none;
}

input[name^="tab-group"]:checked + label {
  background-color: transparent
}

input[name^="tab-group"]:checked ~ .tab-content {
  display: block;
}

