@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;1,300&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

* {
  box-sizing: border-box;
}

html {
  --top-spacing: 90px;
  scroll-padding-top: var(--top-spacing);
  scroll-behavior: smooth;
}

body {
  margin: var(--top-spacing) auto;
  background-color: rgba(105, 105, 105, 3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(images/web_background.jpg);
}

#titlelogo {
  width: 650px;
  height: 350px;
  margin: -80px 0px -60px 0px;
  padding: 0;
}

#whatislol {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px;
  border: 4px solid orange;
  border-radius: 5px;
}

#scroll-indicator {
  width: 100%;
  height: 5px;
  background-color: #121212;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

#scroll-indicator-progress {
  width: 0%;
  height: 100%;
  background-color: yellow;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: black;
  color: #fff;
  transition: 0.5s;
  padding-right: 60px;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar a {
  display: inline-block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-right: 1px solid #777;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

.sidebar a:last-child {
  border-right: none;
}

.sidebar a:hover {
  background-color: #555;
}


.content {
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin: 0;
  padding: 0;
}

main {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-family: "JetBrains Mono";
  color: orange;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

p,
li,
td,
tr,
h2,
label {
  font-family: 'Barlow', sans-serif;
  color: whitesmoke;
  font-size: 18px;
}

h4,
th,
a {
  font-family: 'JetBrains Mono';
}

h4 {
  color: yellow;
}

th {
  color: black;
  background-color: yellow;
  border-color: black';

}

li {
  color: whitesmoke;
}

#chapters-list {
  display: inline-block;
  list-style-type: none;
  text-align: left;
  padding: 0;
  border-style: solid;
  border-color: orange;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6)
}

#chap {
  padding: 10px;
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

#chapters-list a {
  color: black;
  text-decoration: none;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 5px;
  padding: 3px;
  background-color: yellow;

}

#chapters-list a:hover {
  background-color: #FFEF00
}

#chapter-content {
  margin-top: 20px;
}

.stats {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.map {
  float: left;
}

th,
td {
  padding: 15px;
  text-align: center;
}

caption {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-style: italic;
  margin-bottom: 10px;
  padding: 10px;
}

#xayah,
#aphel,
#healthmana,
#level,
#map2,
#herald,
#heraldcharge,
#csing,
#shop,
#mapnexus {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#healthmana {
  padding-bottom: 10px;
}

#xayah {
  padding-bottom: 20px;
}

#level {
  padding: 10px;
}

table {
  border-collapse: collapse;
  border-color: whitesmoke;
}

#champtable {
  margin-right: auto;
  margin-left: auto;
  float: left;
}

#champtable2 {
  margin-left: auto;
  margin-right: auto;
  margin-left: 190px;
}

#website {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.towers,
.dragons,
.soul,
.baron,
.elder,
.herald {
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 1em;
  display: inline-block;
  text-align: left;
  margin: 5px;
}

#turretref {
  border-color: whitesmoke;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.towers {
  border-color: whitesmoke;
  margin-left: 110px;
  align-content: center;
}

.dragons {
  border-color: red;
}

.soul {
  border-color: orange;
}

.baron {
  border-color: purple;
}

.elder {
  border-color: yellow;
}

#elderbuff {
  margin-bottom: 100px;
  padding-left: 50px;
}

#inhib {
  margin-bottom: 70px;
  margin-left: 5px
}

#baronbuff {
  width: 600px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.herald {
  border-color: green;
}

#heralddrop {
  margin-right: 10px;
  float: right;
  padding: 10px;
}

#csing {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#plating {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#domination,
#sorcery,
#resolve,
#inspiration {
  margin-top: 20px;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.tab:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #fff;
}

.tab-content {
  display: none;
  padding: 10px;
}

input[name^="tab-group"] {
  display: none;
}

input[name^="tab-group"]:checked+label {
  background-color: transparent
}

input[name^="tab-group"]:checked~.tab-content {
  display: block;
}

.spell-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.spell-text {
  margin-left: 20px;
}

#ignite {
  color: red;
}

#exhaust {
  color: rgb(161, 161, 14)
}

#heal {
  color: rgb(47, 255, 47);
}

#smite {
  color: rgb(255, 184, 51)
}

#teleport {
  color: rgb(221, 10, 221);
}

#flash {
  color: #FFEF00;
}